:root{
   --cor-principal: rgb(220, 220, 241); 
   --cor-principal: rgb(173,173,181);
   --botao-azul: rgb(89, 89, 241);
   --cor-fundo: rgb(236, 113, 133);

}
body{
    background-color:var(--cor-fundo);
}
.principal{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-principal);
}
.container__botao2{
    background-color: transparent;
    border: 2px solid white;
}